@model Web.ViewModels.User.UserViewModel;

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-hover mb-0">
                    <tbody>
                        <tr>
                            <th class="w-5"><span class="text-danger">*</span> 名稱</th>
                            <td>
                                <input name=UserCreateRequestModel.Name type="text" class="form-control" placeholder="請輸入名稱" require>
                            </td>
                        </tr>
                        <tr>
                            <th class="w-5">
                                <span class="text-danger">*</span> 帳號
                                <button type="button" onclick="CheckAccount();" class="ml-2 btn btn-info waves-effect waves-light">檢查帳號</button>
                            </th>
                            <td>
                                <input name=UserCreateRequestModel.Account id="Account" type="text" class="form-control" placeholder="請輸入帳號" require>
                            </td>
                        </tr>
                        <tr>
                            <th class="w-5"><span class="text-danger">*</span> 密碼</th>
                            <td>
                                <div class="form-floating">
                                    <i id="checkEye" class="fas fa-eye"></i>
                                    <input name=UserCreateRequestModel.Pwd type="password" class="form-control checkEyePwd" placeholder="請輸入密碼" require>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="w-5"><span class="text-danger">*</span> 信箱</th>
                            <td>
                                <input name=UserCreateRequestModel.Email id="Email" type="text" class="form-control" placeholder="請輸入信箱" require>
                            </td>
                        </tr>
                        <tr>
                            <th class="w-5"><span class="text-danger">*</span> 權限</th>
                            <td>
                                <select name=UserCreateRequestModel.Role class="form-control">
                                    <option value="">請選擇</option>
                                    <option value="normal">一般使用者</option>
                                    <option value="manage">管理員</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th class="w-5">建立日期</th>
                            <td>@DateTime.Now</td>
                        </tr>
                        <tr>
                            <th class="w-5">更新日期</th>
                            <td>@DateTime.Now</td>
                        </tr>
                    </tbody>
                </table>
                <!--end /table-->
            </div>
            <!--end /tableresponsive-->
        </div>
    </div>
</div>

<script>
    function CheckAccount(first_check=true)
    {
        let Account = $("#Account").val();
        let Email = $("#Email").val();
        if(Account == null || Account.trim() == "")
        {
            Swal.fire("失敗", '請輸入帳號', "warning");
            return false;
        }
        if(Email == null || Email.trim() == "")
        {
            Swal.fire("失敗", '請輸入信箱', "warning");
            return false;
        }
        $.ajax({
            url: "/User/CheckAccount",
            data: { Account : Account, Email : Email },
            type: "POST",
            success: function (data) {
                if(data.result =="success"){
                    if(first_check)
                        Swal.fire("成功", '此帳號可以使用', "success");
                    return true;
                }else{
                    Swal.fire("失敗", data.message, "warning");
                    return false;
                }
            }
        });
    }
    $(document).ready(function(){
        $("#addBtn").click(function ()
        {
            if(CheckAccount(false) == false)
            {
                return;
            }
            $("#addForm").submit();
        });
        $("#checkEye").click(function () {
            if($(this).hasClass('fa-eye')){
                $(".checkEyePwd").attr('type', 'text');
            }else{
                $(".checkEyePwd").attr('type', 'password');
            }
            $(this).toggleClass('fa-eye').toggleClass('fa-eye-slash');
        });
    });
</script>