@{
    if (TempData["Alert"] != null)
    {
        <script type="text/javascript">
            Swal.fire("失敗", '@Html.Raw(TempData["Alert"])', "warning");
        </script>
    }
    if (TempData["Success"] != null)
    {
        <script type="text/javascript">
            Swal.fire("成功", '@Html.Raw(TempData["Success"])', "success");
        </script>
    }
}

@section ContentList{
    <div class="text-center">
        <div class="error mx-auto" data-text="Hello">Hello</div>
        <p class="lead text-gray-800 mb-5">感謝您的使用</p>
        <p class="text-gray-500 mb-0">此為練習專案，存放一些小工具與小功能</p>
    </div>
}

@* ============== JS ======================= *@
@section Scripts{
}
